//Definicion de variables en sass $nombrevar:valor de la propiedad; 
$primary-color:#ffe92e;
$secondarycolor:black;
$terciary-color:white; 
$fontbtn-color:grey;

$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.6);

//Variable usada en el bucle
$limit:10; 
//Variable de unidad 
$unit:8px; 